<div class="property-container">
    <div class="property-names-card">
        <div class="property-names">
            <div *ngFor="let property of equalPropertiesDataSources; let i = index">
                <div class="filter-container">
                    <div class="property-name" [ngClass]="{'selected': isPropertyExpanded(i)}"
                        (click)="toggleProperty(i)">{{ property.key }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="expanded-properties-card">
        <div class="expanded-properties">
            <ng-container *ngFor="let property of equalPropertiesDataSources;let i=index">
                <div *ngIf="isPropertyExpanded(i)" class="expanded-content">
                    <div class="property-values-card">
                        <div>
                            <input type="text" (input)="refetchDataStore(i)" [placeholder]=" 'Search'+property.key +'...'"
                                [(ngModel)]="searchString">
                        </div>
                        <div *ngFor="let value of equalPropertiesDataSources[i].dataStore">
                            <label>
                                <input type="checkbox"
                                    [checked]="filterRequest.equalFilters[i].propertyValues.includes(value)"
                                    (change)="onCheckboxChange(value, i)" />
                                {{ value }}
                            </label>
                        </div>
                    </div>
                </div>


            </ng-container>
        </div>
    </div>
</div>