<div *ngIf="employeeCategorizedProperties">
    <div class="row">
        <div class="col-2 card shadow rounded-3 " style="min-height: 100vh;">
            <active-filter [filterRequest]="filterRequest" (filterChange)="getEmployees()"></active-filter>
        </div>
        <div class="col-10">
            <combined-filters [categorizedProperties]="employeeCategorizedProperties"
                [equalPropertiesDataSources]="equalPropertiesDataSources" [filterRequest]="filterRequest"
                 (filterChange)="getEmployees()"></combined-filters>
            <div class="my-4 ">
                <employee-list-renderer [employees]="employees"></employee-list-renderer>
            </div>
        </div>
    </div>
</div>